md-card{
  width: 600px;
  flex: 0 0 600px;
}

.text-right{
  text-align: right;
}

form{
  display: flex;
  justify-content: center;
}

md-icon.avatar{
  width: 64px;
  height: 64px;
  border-radius: 50%;
  overflow: hidden;
}
