.card{
  margin: 10px;
  height: 360px;
  flex: 0 0 360px;
}
.container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow-x: hidden ;
}
button{
  position: fixed;
  right: 50px;
  bottom: 100px;
  z-index: 998;
}
