<div class="task-lists">
  <app-task-list
    class="list-container"
    *ngFor="let list of lists"
    appDropable
    [appDraggable]="true"
    [dragEnterClass]="'drag-enter'"
    [dropTags]="['task-item','task-list']"
    [dragTag]="'task-list'"
    [dragData]="list"
    [draggedClass]="'drag-start'"
    (droped)="handleMove($event, list)"
    [ngStyle]="{'order': list.order}"
  >
    <app-task-header
      [header]="list.name"
      (newTaskClick)="openNewTaskDialog()"
      (copyTaskClick)="openCopyTaskDialog()"
      (delTaskClick)="openDelConfirmDialog()"
      (renameTaskClick)="openRenameTasklistDialog()"
    ></app-task-header>
      <app-quick-task (quickTask)="handleQuickTask($event)"></app-quick-task>
    <app-task-item
      *ngFor="let task of list.tasks"
      [item]="task"
      (click)="openUpdateTaskDialog(task)"
    ></app-task-item>
  </app-task-list>
</div>

<button md-fab type="button" (click)="openEditTasklistDialog()">
  <md-icon>add</md-icon>
</button>
